# Week 5

**Name:** I Adarsh *(PG-12)*<br>
**Registration Number:** 240905294<br>
**Date:** 18/02/2025

In [10]:
import numpy as np
import pandas as pd

# Program 1
Create a CSV file called “Movies.csv” with details of 10 movies - Movie Name, Language, Genre, Rating, Review.

Read CSV file into a dataframe and find the movie with the highest rating.

In [11]:
df = pd.DataFrame(pd.read_csv('Movies.csv'))
df

  Movie Name Language     Genre  Rating      Review
0    Movie A  English    Action     8.5        Good
1    Movie B    Hindi    Comedy     7.2     Average
2    Movie C  Spanish     Drama     9.0   Excellent
3    Movie D    Hindi  Thriller     8.8   Very Good
4    Movie E   French   Romance     6.5        Fair
5    Movie F  English    Sci-Fi     7.9        Okay
6    Movie G    Hindi    Action     9.2      Superb
7    Movie H  English    Comedy     8.1   Enjoyable
8    Movie I  Spanish     Drama     7.5   Watchable
9    Movie J    Hindi  Thriller     8.6  Impressive

In [12]:
print(f"{df.loc[df['Rating'].idxmax(), 'Movie Name']} has the highest rating of {np.max(df['Rating'])}")

Movie G has the highest rating of 9.2

Write the details of all “Hindi movies into a file “HindiMovies.csv”.

In [13]:
df_hindi = df[df['Language'] == 'Hindi']
df_hindi

  Movie Name Language     Genre  Rating      Review
1    Movie B    Hindi    Comedy     7.2     Average
3    Movie D    Hindi  Thriller     8.8   Very Good
6    Movie G    Hindi    Action     9.2      Superb
9    Movie J    Hindi  Thriller     8.6  Impressive

In [14]:
df_hindi.to_csv('HindiMovies.csv', index=False)

# Program 2
For the CEREALS dataset, perform data preprocessing and answer the following questions.

In [15]:
df = pd.DataFrame(pd.read_csv('Cereals.csv'))
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,?,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13,12,25,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17,3,110,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16,8,60,25,1,1.0,0.75,36.187559

Create a table with the 5 number summary of all the numeric attributes.

In [16]:
df.describe()[3:]

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
min,50.0,1.0,0.0,0.0,0.00,0.0,1.0,0.5,0.25,18.042851
25%,100.0,2.0,0.0,132.5,0.75,25.0,1.0,1.0,0.67,32.932466
50%,110.0,2.5,1.0,180.0,1.75,25.0,2.0,1.0,0.75,40.253086
75%,110.0,3.0,2.0,212.5,3.00,25.0,3.0,1.0,1.00,50.780847
max,160.0,6.0,5.0,320.0,14.00,100.0,3.0,1.5,1.50,93.704912

For each of the numeric attributes (proteins upto vitamins), identify and replace all missing data(indicated with -1) with the arithmetic mean of the attribute.

In [26]:
df.replace(-1, np.mean(df.select_dtypes(include=np.number), axis=0), inplace=True)
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,?,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13,12,25,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17,3,110,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16,8,60,25,1,1.0,0.75,36.187559

Create a table with the 5 number summary of all the numeric attributes after treating missing values.